<!-- templates/editar_produto.html -->

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Editar Produto</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <nav>

        <h2>Bélle Café</h2>

        <div>

            <a href="/dashboard">Dashboard</a>

            <a href="/produtos">Produtos</a>

            <a href="/clientes">Clientes</a>

            <a href="/vendas">Vendas</a>

            <a href="/usuarios">Usuários</a>

            <a href="/logout">Sair</a>

        </div>

    </nav>

    <div class="container">

        <h1>Editar Produto</h1>

        <form method="POST" action="/produtos/atualizar/{{ produto[0] }}" enctype="multipart/form-data">

            {% if produto[5] %}

            <img src="{{ url_for('static', filename='img/' + produto[5]) }}" width="80">

            {% else %}

            <p>Sem imagem</p>

            {% endif %}

            <label>Nova Imagem</label>

            <input type="file" name="imagem">

            <input name="nome" value="{{ produto[1] }}">

            <input name="categoria" value="{{ produto[2] }}">

            <input name="preco" value="{{ produto[3] }}">

            <input name="estoque" value="{{ produto[4] }}">

            <button>Atualizar</button>

        </form>

    </div>

    <footer>

        <p>Bélle Café - © 2026</p>

    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>

</html>